<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldj.mapper.BoardMapper">

    <!-- TODO 어디서부터 시작하는지 모르겠는 쿼리 -->

    <sql id="search">
        <where>
            <if test="keyword != null">
                <foreach collection="types" item="item" separator=" OR " open="(" close=")">
                    <if test='item == "t"'>
                        title like concat(#{keyword}, '%')
                    </if>
                    <if test='item == "c"'>
                        content like concat(#{keyword}, '%')
                    </if>
                    <if test='item == "w"'>
                        writer like concat(#{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>




    <insert id="insert" >
        <selectKey resultType="int" keyProperty="bno" order="AFTER">
            select last_insert_id()
        </selectKey>
         insert into tbl_board(title, content)
            values (#{title}, #{content})
    </insert>

    <select id="selectList" resultType="com.ldj.domain.Board">
        select * from tbl_board
        <include refid="search"></include>
        order by bno desc
        limit #{skip}, #{size}
    </select>

    <select id="selectOne" resultType="com.ldj.domain.Board">
        select * from tbl_board
        where bno = #{bno}
    </select>

    <delete id="delete">
        delete from tbl_board where bno = #{bno}
    </delete>

    <update id="update">
        update tbl_board set title=#{title} , content = #{content} where bno = #{bno}
    </update>

    <select id="getTotal" resultType="int">
        select count(bno) from tbl_board
        <include refid="search"></include>
    </select>
</mapper>

