<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldj.mapper.FileMapper">

    <insert id="fileInsert">
        insert into tbl_attach (uuid, fileName, savepath, img, fbno)
        values (#{uuid}, #{fileName}, #{savepath}, #{img}, #{fbno})
    </insert>

    <delete id="fileDelete">
        delete from tbl_attach where bno = #{fbno}
    </delete>

    <insert id="fileUpdateBoard">
        insert into tbl_attach (uuid, fileName, savepath, img, fbno)
        values (#{uuid}, #{fileName}, #{savepath}, #{img}, #{fbno})
    </insert>
    <!--update -->


</mapper>